* {
    background-color: #222529;
    font-family: 'Poppins', sans-serif;
    color: #ffffffec;
    margin: 0;
    padding: 0;
}


.navbar{
    display: flex;
    justify-content:space-evenly;
    flex-flow: row wrap;
    padding: 10px 10px;
    background-color: #2C2F33;
    border-radius: 15px;
    margin: 0 10px 30px 10px;
    height: 40px;
    overflow: hidden;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background-color: #2C2F33 ;
}

.navitem {
    padding: 8px 16px;
    text-decoration: none;
    /* margin: 0 20px; lo soluciono con flex gap */
    background-color: #2C2F33 ;
}
:hover.navitem {
    background-color: #26AF89;
    border-radius: 5px;
}

.icon{
    height: 100%;
    background-color: #2C2F33;
    display: inline;
    float: left;
}
/* #2C2F33 #26AF89